/*base css  */

p {
    color: #fffdfd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-size: x-large;
}

h1 {
    color: #FCFCFF;
}

body {
    background-color: #7B9FEE;
}
/* navbar css*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }
  

/* flexbox css */
.container {
    display: flex;
    flex-direction: row;
}

.item img {
    width: 20%;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

 .text {
    padding: 50px;
}
.image-about img{
    width: 150%;
}
.image-index img{
  width: 25%;
}

.container {
display: flex;
justify-content: space-between;
}

.image-div1 img{
width: 50%;
}
.container img{
  width: 40%;
}
.image-div2 img{
  width: 50%;
}
