p {
    color: #FCFDFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    width: 20%;
}

h1 {
    color: #FCFDFF;
}

body {
    background-color: #7B9FEE;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }
  
p {
    font-size: larger;
}

.container {
    display: flex;
    flex-direction: row;
}

.item img {
    width: 20%;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

 



.text {
    padding: 5%;
}
.image-about img{
    width: 25%;
}