/*base css  */

p {
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    font-size: larger;
}
img {
    width: 40%;
}

h1 {
    color: #0d0d0e;
}

body {
    background-color: #ffffff;
}
/* navbar css*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }
  

/* flexbox css */
.container {
    display: flex;
    flex-direction: row;
}

.item img {
    width: 20%;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }

 .text {
    padding: 5%;
}
.image-about img{
    width: 50%;
}

img{
  width: 75%;
}
.image-index img{
  width: 25%;
}

.container {
display: flex;
justify-content: space-between;
}

.image-div {
width: 25%;
}
.container img{
  width: 40%;
}
